@tailwind base;
@tailwind components;
@tailwind utilities;
@-ms-viewport{
  width: device-width;
}
html {
    font-family: "Roboto Flex Variable", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    clear: both;
    overflow-x: hidden;

}

body{
  background-color: #181818;
  color:#fff;
 
}

.bgImage:before {
content:  "";
width: 580px;
height: 778px;
background-image: url('./assets/erlangga.webp');
background-size: 100%;
object-fit: cover;
background-repeat: no-repeat;
right:-20px;
top: 0;
display: block;
z-index: 0;
transition: ease-in-out .8s;
transform: scale(1);
background-position: 50px center;

}


.bgImage:hover:before{
  cursor: text;

filter: saturate(.1);
transition: ease-in-out .8s;
background-size: 120%;
background-position: 120px center;
}



.TypographiTitle  {
  font-family: 'Staatliches';
  text-shadow: -2px -1px 2px  rgb(24, 24, 24,0.5);
}

.titleHIntro {
  text-shadow: -2px -1px 4px #1C1C1C;
}

.descIntro {
  text-shadow: -2px -1px 4px #1C1C1C;
}

.type-wrap  {
    text-shadow: -2px -1px 4px #1C1C1C;

}

h2 {
  font-family: 'Staatliches' ;
  letter-spacing: 0.7px !important;
}

/* Navigasi */

.nav {
  width: 100%;
  background-color: transparent;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 32px;
  padding: 10px 10px 10px 10px;
  font-family: "Staatliches";
  font-weight: 400;
text-shadow: -4px -1px 0px rgba(102,102,102,0.34);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 10px;
}

.nav > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  margin:10px 18px;
  position: relative;
  padding: 3px 0;
}

.nav-links a:before {
width: 0%;
height: 2px;
background-color: transparent;
position: absolute;
bottom: 0;
content: "";
transition: ease-in .4s;

}

.nav-links a:hover:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  content: "";
  transition: ease-in .3s;
  }

.nav > .nav-links > a:hover {
  transition: ease-in .2s;
  opacity: 0.8;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1024px) and (min-width:640px) {

   .intro {
    padding: 0 0px 0 15px;
   }
    
} 



@media (max-width:689px) {
 
  .bgImage:hover:before{
  
  filter: saturate(1);
  transition: ease-in-out .8s;
  background-size: 100% !important;
  background-position: 50px 80px
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 4.1rem;
    top: 2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    background-color: transparent;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: transparent;
    cursor: pointer;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 7px;
    margin: 3px 0;
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    height: 0px;
    overflow-y: hidden;
    top: 100px;
    left: 0rem;
    z-index: 99999999;
    overflow: hidden !important;
  }

  .nav-links a:hover:before {
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    content: "";
    transition: ease-in .3s;
    }
  .nav > .nav-links > a {
    display: inline;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 100px);
    overflow-y: auto;
  }
}

@media (max-width:400px) {
  .cardsImage{
    width: 96vw;
    margin: 0 auto;
    padding: 0 2px;
  }

  .titleHIntro {
    margin: 0;
    padding: 10px;
    width:100%;
    line-height: 66px;
  }
  
}





/* ImageMain */

.ImageMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 4rem;
  }

  .cardsImage{
    position: relative;
  }

  /* .cardsImage:before {
    filter: opacity(1) grayscale(100%)
  } */

.cardsImages1:before {
    background-image: url(./assets/imagemain/unplash4.webp);
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: center;
    object-fit: cover;
    position: absolute;

    z-index: -10;
  }

.cardsImages2:before {
    background-image: url(./assets/imagemain/unplash6.webp);
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: right;
    object-fit: cover;    position: absolute;
    z-index: -10;
  }

  .cardsImages3:before {
    background-image: url(./assets/imagemain/unplash2.webp);
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: center;
    object-fit: cover;    position: absolute;
    z-index: -10;
  }

  .cardsImages4:before {
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: center;
    object-fit: cover;    position: absolute;
    z-index: -10;
  }

  .cardsImages5:before {
    background-image: url(./assets/imagemain/unplash1.webp);
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: center;
    object-fit: cover;    position: absolute;
    z-index: -10;
  }

  .cardsImages6:before {
    background-image: url(./assets/imagemain/unplash5.webp);
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: center;
    object-fit: cover;    position: absolute;
    z-index: -10;
  }

  
  .cardsImages6:before {
    background-image: url(./assets/imagemain/unplash5.webp);
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: center;
    object-fit: cover;    position: absolute;
    z-index: -10;
  }

  .cardsImages7:before {
    background-image: url(./assets/imagemain/unplash3.webp);
    content: "";
    width: 100%;
    height: 106%;
    background-size: cover;
    display: block;
    background-position: center;
    object-fit: cover;    position: absolute;
    z-index: -10;
  }



  video {
    position: absolute;
    width: 100%;
    height: 106%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }




/* Toggle Darkmode */

  #toggle_checkbox
{
    display: none;
}

label
{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 116px;
    height: 56px;
    margin: 0 auto;
    background-color: #b89107;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star
{
    position: absolute;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star
{
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon
{
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before
{
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: #000;
}

#toggle_checkbox:checked + label #star
{
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star
{
    color: yellow;
}

#toggle_checkbox:checked + label #moon
{
    bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: #000;
}


.linkfooterAbout:hover {
  color:#fff;
  text-shadow: 1px 1px 1px #181818;
}
    

/* Loading */

.container {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
    position: fixed;
    top:0;bottom:0;left:0;right:0;
    background-color: #181818;
    z-index: 99999999999999999999999999999;
    overflow: hidden;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.title h1 {
	font-size: 14vmin;
	font-weight: 900;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

.ghost {
	width: 8vmin;
	height: 12vmin;
	background-color: #fff;
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
	background-image: radial-gradient(ellipse at 35% 40%, #181818 8%, transparent 0%),
		radial-gradient(ellipse at 65% 40%, #181818 8%, transparent 0%),
		radial-gradient(ellipse at 50% 60%, #181818 8%, transparent 0%);
	border-radius: 100% / 70% 70% 0% 0%;
	transform: translateX(100em) rotateZ(-90deg);
	position: relative;
	opacity: 0.9;
	mix-blend-mode: exclusion;
	animation: ghostMove 4s ease-out infinite;
}
@keyframes ghostMove {
	0% {
		transform: translateX(30em) rotateZ(-90deg);
	}
	100% {
		transform: translateX(-35em) rotateZ(-90deg);
	}
}
.ghost div {
	position: absolute;
	width: 20%;
	background-color: #fff;
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
.ghost div:nth-of-type(1) {
	height: 7vmin;
	left: 0;
	bottom: -6vmin;
	border-radius: 100% / 0% 0% 50% 50%;
}
.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
	height: 4vmin;
	left: 20%;
	bottom: -3vmin;
	border-radius: 100% / 50% 50% 0% 0%;
	background-color: transparent;
}
.ghost div:nth-of-type(3) {
	height: 4vmin;
	left: 40%;
	bottom: -3.95vmin;
	border-radius: 100% / 0% 0% 60% 60%;
	background-color: #fff;
}
.ghost div:nth-of-type(4) {
	left: 60%;
}
.ghost div:nth-of-type(5) {
	height: 3vmin;
	left: 80%;
	bottom: -42.9vmin;
	border-radius: 100% / 0% 0% 70% 70%;
	background-color: #fff;
}


@media screen and (min-width:320px ) and (max-width:771px) {
    .title h1 {
        font-size: 12vmin;
        font-weight: 900;
        font-family: "Montserrat", sans-serif;
        color: #fff;
    }
}
